*.class
*.classpath
*.prefs
*.prefs
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.cmd
/mvnw.cmd
**/mvnw
**/target/
.mvn
/.mvn/
.jar
.war
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/src/main/**/build/
**/src/test/**/build/

### VS Code ###
.vscode/
